{% extends "base.html" %}

{% block content %}
<div id="main" class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h3>Checked In Clients</h3>
            {% for clients in clientChunks %}
                <div class="row">
                    {% for client in clients %}
                        <div class="col-{{ colSize }}">
                            <span class="bgc-green">{{ client.VMWareName }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <a href="/cache" class="btn btn-info">Initialize VM Cache</a>
            <a href="#" class="btn btn-success">Enable Deployment</a>
            <a href="#" class="btn btn-danger">Reset</a>
        </div>
    </div>
</div>
{% endblock %}